// common.less

// Font Size
@font-size-small: 11px;

// Colors
@text-color: rgb(200, 200, 200);
@text-color-highlight: rgb(50, 200, 255);
@text-color-detail: rgb(100, 100, 100);

@shadow-color: rgba(0, 0, 0, 0.2);

@background-color: rgb(40, 40, 40);
@background-color-highlight: rgba(100, 200, 255, 0.2);

@bufferScrollBarSize: 7px;
