// common.less

// Font Size
@font-size-small: 11px;

// Colors
@text-color: rgb(200, 200, 200);
@text-color-highlight: rgb(50, 200, 255);
@text-color-detail: rgb(100, 100, 100);

@text-color-info: #6494ed;
@text-color-success: #73c990;
@text-color-warning: #e2c08d;
@text-color-error: #fd6247;

@shadow-color: rgba(0, 0, 0, 0.2);

@background-color: rgb(40, 40, 40);
@background-color-highlight: rgba(100, 200, 255, 0.2);
@background-color-lighter: #3a3e44;
@border-color: rgb(25, 25, 25);

@bufferScrollBarSize: 7px;

@component-padding: 10px;

#host, .editor, .layer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.container {
    position: relative;

    &.vertical {
        display: flex;
        flex-direction: column;
    }

    &.full {
        width: 100%;
        height: 100%;
        flex: 1 1 auto;
    }

    &.fixed {
        flex: 0 0 auto;
    }
}
