@import (reference) "./common.less";

@errorMarkerSize: 25px;

@errorMessageSize: 200px;

.error-marker {
    position: absolute;
    right: @bufferScrollBarSize;
    opacity: 0.5;
    width: 200px;
    display: flex;

    &.active {
        opacity: 0.8;
    }

    .icon-container {
        position: absolute;
        right: 0px;
        background-color: rgb(80, 80, 80);

        .fa {
            padding: 6px;
        }
    }
}

.error-squiggle {
    position: absolute;
}

.error {
    .box-shadow;

    opacity: 0;
    flex: 1 1 auto;
    transition: opacity 0.2s;
    position: absolute;
    background-color: @background-color;
    border-left: 7px solid;
    padding: 6px;
    margin-top: 31px;
    opacity: 0px;
    max-width: 400px;

    .text {
        font-size: 10px;
        color: @text-color;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &:before {
        content: "";
        position: absolute;
        left: -7px;
        top: -7px;
        border: 4px solid;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: inherit;
        border-left-color: inherit;
    }
}
.error.top:before {
    top: initial;
    bottom: -7px;
    border-top-color: inherit;
    border-bottom-color: transparent;
    margin-top: -31px;
}
.error.active {
    opacity: 1;
}
