@import (reference) "./common.less";

@liveEvalGutterSize: 300px;

.live-eval-marker {
    position: absolute;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: @text-color;
    width: @liveEvalGutterSize;
    border-left: 1px solid green;

    display:flex;
    align-items: center;
    justify-content: center;

    overflow-y: auto;

    &.error {
        border-left: 1px dashed red;
    }

    .text {
        margin-left: 8px;
        margin-right: 8px;
    }
}
