@import (reference) "./common.less";

.quickinfo-container {
    transition: all 0.5s;
    animation-name: appear;
    animation-duration: 0.5s;

    .quickinfo {
        background-color: @background-color;
        border: 1px solid gray;
        padding: 4px;
        box-shadow: 4px 4px @shadow-color;
        color: @text-color;
        text-overflow: ellipsis;
        overflow: hidden;

        .title {
            width: 100%;
            white-space: nowrap;
            margin: 4px;
        }

        .documentation {
            margin: 4px;
            color: @text-color-highlight;
            font-size: @font-size-small;
        }

        .selected {
            font-style: italic;
            text-decoration: underline;
        }
    }
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}
