@import (reference) "./common.less";

.status-bar {
    .loaded & {
        transform: translateY(0px);
    }

    /* `status-bar-inner` is used for performance reasons,
        to move the status bar to its own layer. This keeps changes
        from the status-bar layer from cause a repaint in the entire editor */
    .status-bar-inner {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;

        display: flex;
        flex-direction: horizontal;
        align-items: center;

            .status-bar-item {

                &.filler {
                    flex: 1 1 auto;
                }

                .faded {
                    color: rgb(150, 150, 150);
                }
            }
        }
}
