@import (reference) "./common.less";

.status-bar {
    .box-shadow-up;

    color: @text-color;
    background-color: @background-color;
    height: 28px;

    display: flex;
    flex-direction: horizontal;
    align-items: center;

    .status-bar-container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: horizontal;
        height: 100%;

        &.left {
            justify-content: flex-start;
        }

        &.center {
            justify-content: center;
        }

        &.right {
            justify-content: flex-end;
        }

        .status-bar-item {
            padding-left: 8px;
            padding-right: 8px;
            flex: 0 1 auto;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: rgba(100, 100, 100, 0.2);
            }

            &.filler {
                flex: 1 1 auto;
            }

            .faded {
                color: rgb(150, 150, 150);
            }
        }
    }
}
