@import (reference) "./../../UI/components/common.less";

@keyframes fade-in-and-down {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-background {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    .box-shadow;

    position: relative;
    margin-top: 16px;
    padding: 8px;
    width: 75%;
    max-width: 900px;

    input {
        border: 0px;
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 1.1em;
        box-sizing: border-box;
        width: 100%;
        padding: 8px;
        outline: none;
    }

    .items {

        .item {
            padding: 4px;
            margin-top: 4px;

            display: flex;
            flex-direction: row;
            align-items: center;

            user-select: none;
            -webkit-user-drag: none;
            cursor: pointer;
            font-size: @font-size-normal;
            overflow: hidden;

            .fa:not(.fa-spin) {
                padding-right: 8px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
            &.selected {
                .box-shadow;
                background-color: rgba(0, 0, 0, 0.2);
            }

            .label {
                margin: 4px;
                padding-right: 8px;

                .highlight {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }

            .detail {
                font-size: @font-size-small;
                color: @text-color-detail;
                flex: 1 1 auto;

                .highlight {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }

    .footer {
        text-align: center;
        width: 100%;
        transition-property: margin, opacity, padding;
        transition-duration: 0.25s;
        margin-bottom: 0em;
        position: relative;

        &.loading {
            padding-bottom: 24px;
            padding-top: 8px;
            margin-bottom: 2em;

            .loading-spinner {
                opacity: 1;
            }
        }

        &.loaded {
            margin-bottom: 0em;
        }

        .loading-spinner {
            .box-shadow-inset;
            line-height: 2em;
            height: 2em;

            position: absolute;
            left: -8px;
            right: -8px;
            padding: 8px;
            opacity: 0;

            .loading & {
                opacity: 1;
            }
        }
    }
}
